<div class="d-flex justify-content-start">
    <mat-card class="profile__card">
        <mat-card-header *ngIf="isPreview" class="d-flex justify-content-center">
            <span class=" profile__card__title__preview">{{trainer.name | titlecase}}</span>
        </mat-card-header>

        <mat-card-header *ngIf="!isPreview" class="d-flex justify-content-between">
            <span class="profile__card__title">Entrenador</span>
        </mat-card-header>

        <mat-card-content>
            <div class="d-flex justify-content-center">
                <div class="image__preview">
                    <img [src]="trainer.image_path || defaultImageUrl" alt="Preview" width="220" height="220" class="round__image">
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-between">
                <div class="align__left profile__card__hobbie__title">
                    <span>Pasatiempo:</span>
                    <br>
                    <span>Edad:</span>
                    <br>
                    <span>{{trainer.dui ? "Dui:" : ""}}</span>
                </div>
                <div class="align__right profile__card__hobbie__description">
                    <span>
                        {{getHobbieName(trainer.hobbies[0].toString())}}
                    </span>
                    <br>
                    <span>{{birthdate }} años</span>
                    <!-- <span>{{birthdate | age}} años</span> -->
                    <br>
                    <span>{{trainer.dui ? trainer.dui : ""}}</span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>