@import '../../../../styles.scss';

.profile__card {
  background-color: #FFC600;
  width: 392px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 45px;
}
.profile__card__title__preview {
  font-size: 35px;
  font-weight: 700;
  color: #185A7D;
  text-align: center;
}
.profile__card__title {
  font-size: 24px;
  font-weight: 500;
  color: #4B4B4B;
}
.profile__card__hobbie__title {
  font-size: 24px;
  font-weight: 700;
  color: #4B4B4B;
}
.profile__card__hobbie__description {
  font-size: 24px;
  font-weight: 400;
  color: #4B4B4B;
}
.round__image {
  margin-top: 20px;
  border: 20px solid white;
  border-radius: 50%;
}
