<div class="col-12">
    <div class="d-flex flex-column justify-content-center">
        <span class="title__text">Pokémon</span>
        <p class="description__text">
            Selecciona 3 Pokémon para que sean parte de tu equipo.
        </p>
        <mat-form-field class="search col-12" floatLabel="always" appearance="outline">
            <input matInput [formControl]="search" placeholder="Buscar por índice, nombre..." (keyup)="filterPokemons()">
        </mat-form-field>
    </div>
    
    <div class="row pokemon__list">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngFor="let pokemon of pokemons">
            <mat-card class="pokemon__card" [ngClass]="{'yellow-background': pokemon.isSelected, 'pokemon__card__disabled': isCardDisabled(pokemon)}" (click)="handlePokemonSelection(pokemon)">
                <mat-card-content>
                    <div class="d-flex justify-content-center">
                        <div class="image__preview">
                            <img [src]="pokemon.sprites?.front_default" [alt]="pokemon.name" class="pokemon__image">
                            <div class="pokemon__description">
                                <p class="pokemon__description__text">{{pokemon.id}}</p>
                                <p class="pokemon__description__text">{{pokemon.name}}</p>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button mat-raised-button class="submit__button" [disabled]="allowSave" (click)="submitSelection()">
            Guardar
        </button>

    </div>
</div>