<div class="container">
    <div class="row" *ngIf="!isFetching">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="d-flex justify-content-start">
                <h2 class="profile__title__text">
                    ¡Hola {{trainer.name }}!
                    <!-- | titlecase | firstName -->
                </h2>
                <div class="align__center">
                    <button class=" edit__button" (click)="onProfileEditButton()" >
                        <!--  -->
                        <div class="d-flex justify-content-center">
                            <i class="fa-solid fa-pencil ml-3"></i>
                            <span class="button__text">  Editar perfil</span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <!-- profile card component -->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <app-profile-card [trainer]="trainer"></app-profile-card>
        </div>
        <!-- profile card component -->
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="d-flex justify-content-between">
                <span class="title__text">Pokémon</span>
                <button class="mat-raised-button edit__button" (click)="onPokemonEditButton()" >
                    <!--  -->
                    <div class="d-flex justify-content-center">
                        <i class="fa-solid fa-pencil ml-3"></i>
                        <span class="button__text">  Editar</span>
                    </div>
                </button>
            </div>
            <div>
                <div class="row pokemon__showcase">
                    <div class="col-xl-12" *ngFor="let pokemon of pokemons">
                         <app-pokemon-team [pokemon]="pokemon"></app-pokemon-team>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="isFetching">
        <app-loading></app-loading>
    </div>
</div>
