<div class="container">
    <div class="row" *ngIf="!isFetching" >

        <!-- trainer data -->
        <div class="col-sm-12 col-xl-12">
            <h2 class="header__text" style="font-weight: bold;">
                ¡Ya casi términamos!
            </h2>
            <p class="description__text">
                Revisa la información, y completa lo solicitado.
            </p>
        </div>
        <div class="col-sm-12 col-xl-6">
            <app-profile-card [trainer]="trainer"></app-profile-card>
        </div>
        <!-- trainer data -->

        <!-- pokemon selection  -->
        <div class="col-sm-12 col-xl-6">

            <app-pokemon-list/>

        </div>

        <!-- pokemon selection  -->
    </div>
    <div class="row" *ngIf="isFetching">
        <!-- <app-loading></app-loading> -->
    </div>
</div>




